<head>
	<script src="lib/jq.min.js" ></script>
	<script src="lib/jq.ui.min.js" ></script>
	<script src="pan.js" ></script>
	<link rel="stylesheet" href="pan.css" >
</head>
<style>
	#pan {
		width:200px;
		height:250px;
		background:#fdd;
		position:absolute;
		left:20px;
		top:30px;
	}
	#content {
		width:400px;
		height:300px;
		background:#ddf;
		box-shadow:inset 0 0 50px #000;
	}
</style>
<body>
	<div id=pan >
		<div id=content ></div>
	</div>
</body>
<script>
	new pan($('#pan'))
</script>